*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


nav{
    display:flex;
    padding : 2% 3%;
    justify-content: space-between;
    align-content: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
};

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box h1{
    width: 100px;
    color: white;
    top: 30%;
    left: 10%;
    position: absolute;
    font-family: 'Gloock', serif;
    font-size: 100px;
}

.text-box img{
    position: absolute;
    top: 30%;
    left: 50%;
    height: 50%;
}

.back{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
.tabs{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.tool-col{
    flex-basis: 25%;
    background: rgb(213, 255, 205);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}


.tool-col:hover{
    background: rgb(41, 248, 0);
    flex-basis: 30%;
}

.tool-col img{
    width: 100px;
}
