body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #f2f2f2;
}

/* Centered container */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

/* Form */
form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #444;
  text-align: center;
  font-size: 36px;
}

/* Text fields */
.txt_field {
  position: relative;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.txt_field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #444;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #0077ff;
}

/* Adjust size of input fields */
#name,
#surname,
#password,
#confirm-password {
  width: 48%;
}

#username,
#email {
  width: 100%;
}

/* Submit button */
#signup {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#signup:hover {
  background-color: #0077ff;
}

/* Existing account link */
#existing-acc {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

#existing-acc a {
  color: #0077ff;
  text-decoration: none;
}

#existing-acc a:hover {
  text-decoration: underline;
}

#login {
  text-indent: 420%;
  font-weight: bold;
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.separator {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.separator::before,
.separator::after {
  content: "";
  display: inline-block;
  width: 40%;
  border-top: 1px solid #ccc;
  vertical-align: middle;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.separator span {
  font-size: small;
  color:grey;
  padding: 0 10px;
  position: relative;
  display: inline-block;
}

#login-signup{
  flex:1;
  position:relative;
  left:35.5%;
  width:29%;
  display: block;
  padding: 10px;
  background-color: #0077ff;
  font-weight:bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
