<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Versatile</title>
  <link rel="stylesheet" href="/style/homestyle.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="./images/logo.png " /></a>
      <div class="nav-links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/task">TASK</a></li>
          <li><a href="/users/signup">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </div>
    </nav>

    <video autoplay loop muted plays-inline class="back">
      <source src="./images/background.mp4" />
    </video>
  </section>

  <section class="footer">
    <h1>Tools We Offer</h1>
    <div class="tabs">
      <div class="tool-col">
        <a href="/editor"><img src="./images/Editor.png" /></a>
        <h3>Editor</h3>
      </div>
      <div class="tool-col">
        <img src="./images/template.png" />
        <h3>Templates</h3>
      </div>
      <div class="tool-col">
        <img src="./images/communities.png" />
        <h3>Community</h3>
      </div>
    </div>
  </section>
</body>

</html>