<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ET Website</title>
    <link rel="stylesheet" href="/style/homestyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gloock&family=PT+Sans:wght@700&family=Tilt+Warp&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="header">
      <nav>
        <a href="/"><img src="images/logo.png " /></a>
        <div class="nav-links">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/task">TASK</a></li>
            <li><a href="/users/login">LogIn</a></li>
            <li><a href="/users/signup">SignUp</a></li>
          </ul>
        </div>
      </nav>

      <video autoplay loop muted plays-inline class="back">
        <source src="./images/background.mp4" />
      </video>

      <div class="text-box">
        <h1>Easy Simple Clean</h1>
      </div>
    </section>

    <section class="footer">
      <h1>Tools We Offer</h1>
      <div class="tabs">
        <div class="tool-col">
          <a href="/editor"><img src="./images/Editor.png" /></a>
          <h3>Editor</h3>
        </div>
        <div class="tool-col">
          <img src="./images/template.png" />
          <h3>Templates</h3>
        </div>
        <div class="tool-col">
          <img src="./images/communities.png" />
          <h3>Community</h3>
        </div>
      </div>
    </section>
  </body>
</html>
