<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="center"></div>
    <h1>Login</h1>
    <form method="post">
        <div class="txt_field">
            <input type="text" id="email" placeholder="E-mail" required>
        </div>
        <div class="txt_field">
            <input type="password" id="loginpassword" placeholder="Password" required>
        </div>
        <div><input type="submit" id="login" value="LOGIN"></div>
        <div id="existing-acc"><a href="#">Forgot Password?</a></div>
    </form>
    <div class="separator">
        <span>OR</span>
      </div>
    <button id='login-signup' onclick="window.location.href='signup.html'">SIGN UP</button>
    <script></script>
</body>
</html>
